<% if (theme.addthis.enable){ %>
  <div class="sharing addthis_toolbox addthis_default_style">
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js<% if (theme.addthis.pubid){ %>#pubid=<%= theme.addthis.pubid %><% } %>" async="async"></script>
<% } %>
